<!-- Show list of devices !-->
{% extends "base.html" %}
{% block title %}DeviceID: {{device.id}} {% endblock %}
{% block content %}
  <h1>DeviceID <a href='/device/{{device.id}}'>{{device.id}}</a> &raquo; {{ TagName }}</h1>
  <table class="table table-striped">
    <tbody>
    <tr>
      {% if Tagdata %}
			<td><pre>{{ Tagdata }}</pre></td>
      {% else %}<td> Your search "<strong>{{ TagName }}</strong>" did not match any log files</td>
      {% endif %}
    </tr>
    </tbody>
  </table>
{% endblock %}
