<!-- Show list of devices !-->
{% extends "base.html" %}
{% block title %}All Devices{% endblock %}
{% block content %}
<div class="container-fluid">
<div class ="row-fluid">
{% if userprofile.user_type == 'M' or userprofile.user_type == 'L' %}
<div class="span3">
  <br>
  <br>
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          {% if user.is_authenticated %}
            <li><a href=".">Profile</a></li>
            {% if userprofile.user_type == 'L' or userprofile.user_type == 'M' %}
              <li><a data-toggle="collapse" href="#experiment">Experiments</li>
              {% if experiments %}
                {% for experiment in experiments %}
                  <li id="experiment" style="height: 0px; "><a href="#">&nbsp;&nbsp;{{ experiment }}</a></li>
                {% endfor %}
              {% else %}
                {% if userprofile.user_type == 'L' %}
                  <li id="experiment" style="height: 0px; "><a href="#">&nbsp;&nbsp;add experiment</a></li>
                {% elif userprofile.user_type == 'M' %}
                  <li id="experiment" style="height: 0px; "><a>&nbsp;&nbsp;No Experiments</a></li>
                {% endif %}
              {%endif%}
                <li><a data-toggle="collapse" href="#groups">Groups</a></li>
                {% if group %}
                  <li id="groups" style="height: 0px; "><a href="#">&nbsp;&nbsp;{{ group }}</a></li>
                {% else %}
                  <li id="groups" style="height: 0px; ">No Groups</li>
                {% endif %}
            {% endif %}
                  <li><a href="/devices">Devices</a></li>
                  <li><a href="/experiments">Applications</a></li>  
          {% endif %}
        </ul>
      </div>
</div>
<div class="span9">
{% else %}
<div class ="span">
  {% endif %}
  <h1>Your Devices</h1>
  {% if devices %}
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Device ID</th>
<!--        <th>Email</th> -->
      </tr>
    </thead>
    
    <tbody>
      {% for device in devices %}
    <tr>
      <td><a href='/device/{{device.dev}}'>{{ device.dev }}</a></td>
<!--      <td>{{ device.email }}</td> -->
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  There are no devices!
  {% endif %}
</div>
</div>
</div>
{% endblock %}
