{% extends "base.html" %}
{% block content %}
  <h1>{% block head %}DeviceID &raquo {{deviceId}}{% endblock %}</h1>
  <table class="table table-striped">
    <tbody>
      {% for key,app in apps.items %}
        {% if forloop.first %}
          <tr>
          <td><strong>Installed Applications</strong></td>
          <td></td><td></td><td></td>
          </tr>
          <tr>
          <td><strong> name </strong> </td>
          <td><strong> package_name </strong> </td>
          <td><strong> type </strong> </td>
          <td><strong> version </strong> </td>
          </tr>
        {% endif %}
        <tr>
        <td> {{app.app_object.name}} </td>
        <td> {{app.app_object.package_name}} </td>
        <td> {{app.app_object.type}} </td>
        <td> {{app.app_object.version}} </td>
        </tr>
      {% empty %}
      {% endfor %}
      {% for key,app in unapps.items %}
        {% if forloop.first %}
          <tr>
          <td><strong>Uninstalled Applications</strong></td>
          <td></td><td></td><td></td>
          </tr>
          <tr>
          <td><strong> name </strong> </td>
          <td><strong> package_name </strong> </td>
          <td><strong> type </strong> </td>
          <td><strong> version </strong> </td>
          </tr>
        {% endif %}
        <tr>
        <td> {{app.app_object.name}} </td>
        <td> {{app.app_object.package_name}} </td>
        <td> {{app.app_object.type}} </td>
        <td> {{app.app_object.version}} </td>
        </tr>
        {% empty %} 
        {% endfor %}
    </tbody>
  </table>
{% endblock %}
