<!-- Single Device !-->
{% extends "base.html" %}

{% block content %}
<h1>{% block title %}DeviceID {{device.id}} (<a href='/device/{{device.id}}/edit/'>Edit</a>){% endblock %}</h1>
<table class="table table-bordered table-striped">
  <tbody>
    <tr>
      <td width='20%'><strong>Email: </strong></td>
      <td>{{ device.email }}</td>
    </tr>
    <tr>
      <td><strong>Registration ID: </strong></td>
      <td>{{ device.reg_id }}</td>
    </tr>
    <tr>
      <td><strong>Status Interval: </strong></td>
      <td>{{ device.update_interval }} mins</td>
    </tr>
  </tbody>
</table>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#1" data-toggle="tab">Log</a></li>
    <li><a href="#2" data-toggle="tab">Log Tag Filter</a></li>
    <li><a href="#3" data-toggle="tab">Status Updates</a></li>
    <li><a href="#4" data-toggle="tab">Send C2DM</a></li>
    <li><a href="#5" data-toggle="tab">Applications</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="1">
      <p>
       {% for file in filelist %}
       <a href='/device/{{device.id}}/{{file}}'>{{ file }}</a><br>
	     {% empty %} There is no log file.
       {% endfor %}
	    </p>
    </div>
    <div class="tab-pane" id="2">
      <form method="post" action="/device/{{device.id}}/tag/">
        <input type='checkbox' id='anti' name='anti' value='0' />
        <input type='text' id='tagName' name='tagName' value='' />
        <input type='submit' value='Send' />
      </form>
    </div>
    <div class="tab-pane" id="3">
       <a href='/device/{{device.id}}/status/1/'>Battery Level</a><br>
       <a href='/device/{{device.id}}/status/2/'>GPS Location</a><br>
       <a href='/device/{{device.id}}/status/3/'>Signal Strength</a><br>
    </div>
    <div class="tab-pane" id="4">
      <form method="post" action="/device/{{device.id}}/c2dm/">
        <input type='text' id='c2dm_msg' name='c2dm_msg' />
        <input type='submit' value='Send' />
      </form>
    </div>
    <div class="tab-pane" id="5">
      <p>
       <a href='/device/{{device.id}}/list/'>Application List</a><br>
      </p> 
    </div>
  </div>
</div>
{% endblock %}
