{% extends "base.html" %}
{% block title %}Transaction View{% endblock %}
{% block content %}
<h2>Transaction View ({{ id }})</h2>
<div class="span11 well">

  <table class="table table-striped table-bordered">
    <thead>
      <tr> 
        <th rowspan="2">T_ID</th>
        <th colspan="3">Device ID</th>
        <th>App ID</th>
      </tr>
      <tr>
        <th>Act</th>
        <th>Res</th>
        <th>S_Time</th>
        <th>E_Time</th>
      </tr>
     </thead>
     <tbody>
       {% for transdevapp in transdevapps %}
       <tr>
         <td rowspan="2">{{ transdevapp.tid_id }}</td>
         <td colspan="3"><a href="/device/{{ transdevapp.dev_id }}">{{ transdevapp.dev_id }}</a></td>
         <td><a href="/experiment/{{ transdevapp.app_id }}">{{ transdevapp.app_id }}</a></td>
       </tr>
       <tr>
         <td>{{ transdevapp.action }}</td>
         <td>{{ transdevapp.result }}</td>
         <td>{{ transdevapp.start }}</td>
         <td>{{ transdevapp.end }}</td>
       </tr>
      {% empty %}
      {% endfor %}
    </tbody>
  </table>
  T_ID  : Transaction ID<br>
  Act: I, install and U, uninstall<br>
  Res: S, success and F, failure<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;N, Not available<br>
  S_Time: Start time of transaction<br>
  E_Time: End time of transaction<br>
</div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
    window.onload = function() {
    var table = document.getElementById('expandable_table');
      if (table) {
        var trs = table.getElementsByTagName('tr');
        for(var i = 0; i < trs.length; i++) {
          var a = trs[i].getElementsByTagName('td')[0].getElementsByTagName('a')[0];
          a.onclick = function() {
          var span = this.parentNode.getElementsByTagName('span')[0];
          span.style.display = span.style.display == 'none' ? 'block' : 'none';
          this.firstChild.nodeValue = span.style.display == 'none' ? 'More' : 'Less';
          };
        }
      }
    };
    </script>
{% endblock %}
