<!-- Show list of devices !-->
{% extends "base.html" %}
{% block title %}All Applications{% endblock %}
{% block content %}
  <h1>All Applications 
    {% if user_type != 'P' %}
    (<a href='/experiment/new'>Add</a>)
    {% endif %}
  </h1>
  {% if apps %}
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Application ID</th>
        <th>Application Name</th>
      </tr>
    </thead>
    <tbody>
    {% for app in apps %}
    <tr>
      <td><a href='/experiment/{{app.id}}'>{{ app.id }}</a></td>
      <td>{{ app.name }}<a class="btn-mini btn-primary pull-right" href='/experiment/withdraw/{{app.id}}/'><img src="{{ STATIC_URL }}img/trash.ico"></i> Withdraw</a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  There are no applications!
  {% endif %}
{% endblock %}
