<form class="form-horizontal" method="post">{% csrf_token %}
	<fieldset>
		{% for field in form %}
			<div class="control-group{% if field.errors %} error {% endif %}">
				<label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
				<div class="controls">
					{{ field }}
					
					{% if field.errors %}
						<p class="help-block">{{ field.errors }}</p>
					{% endif %}
					
					{% if field.help_text %}
						<p class="help-block">{{ field.help_text }}</p>
					{% endif %}
				</div>
			</div>
		{% endfor %}
    {% if option %}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/accounts/password_reset">forget password</a>
    {% endif %}
      <div class="form-actions">
        <input type="hidden" name="next" value="{{ next }}" />
        <button class="btn btn-primary" type="submit"> {{ button }}</button>
        <a onclick="history.back()" class="btn">Cancel</a>
      </div>
	</fieldset>
</form>
