<!DOCTYPE html>
<html lang="en">
<head>
  <title>PhoneLab {% block title %}Main{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!-- Le Awesome Twitter Bootstrap CSS -->
  <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">

  <style>
    body {
      padding-top:60px;
    }
  </style>
</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">PhoneLab</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="/">Home</a></li>
            {% if user.is_authenticated %}
              <li><a href="/devices">Devices</a></li>
              <li><a href="/account">{{user.username}}</a></li> 
              <li><a href="/logout">Logout</a></li>
            {% else %}
              <li><a href="/login">Sign In</a></li>  
              <li><a href="/register">Sign Up</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">
    {% block content %}{% endblock %}
  </div> 

<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
{% block js %}{% endblock %}
</body>
</html>
