<h1>Your Groups:</h1>
<table class="table table-bordered table-striped">
	<tbody>
    {{leaders.user.username}}
		<tr>
			<td width='20%'><strong>Group Name: </strong></td>
      <td><a href="#">{{ group.name }}</a></td>
    </tr>
    <tr>
      <td><strong>Leader Name: </strong></td>
      <td>{{ leader.user.username }}</td>
		</tr>
    <tr>
      <td><strong>Members:</strong></td>
      <td>
        {% for member in members %}
          <li>{{ member.user.username }}</li>
        {% endfor %}
      </td>
    </tr> 
  </tbody>
</table>