<div class="well">
  <h2>Group Profile: <a href="/accounts/group_profile/">{{group.name}}</a></h2>
<table class="table table-bordered table-striped">
	<tbody>
    {{leaders.user.username}}
		<tr>
			<td width='20%'><strong>Group Name: </strong></td>
      <td><a href="/accounts/group_profile/">{{ group.name }}</a></td>
    </tr>
    <tr>
      <td><strong>Leader Name: </strong></td>
      <td>{{ leader.user.username }}</td>
		</tr>
    <tr>
      <td><strong>Members:</strong></td>
      <td>
        <a href="/accounts/group_profile/">{{ no_of_members }}</a>
      </td>
    </tr> 
    <tr>
      <td><strong>Devices:</strong></td>
      <td>
        <a href="/devices/">{{no_of_devices}}</a>
      </td>
    </tr>
  </tbody>
</table>
</div><!-- well -->