<h1>Group Profile:</h1>
<table class="table table-bordered table-striped">
	<tbody>
		<tr>
			<td width='20%'><strong>First Name: </strong></td>
            <td>{{ userprofile.user.first_name }}</td>
        </tr>
        <tr>
         <td><strong>Last Name: </strong></td>
                <td>{{ userprofile.user.last_name }}</td>
              </tr> 
              <tr>
                <td><strong>Email: </strong></td>
                <td>{{ user.email }}</td>
              </tr>
              <tr>
                <td><strong>UB ID: </strong></td>
                <td>{{ userprofile.ub_id }}</td>
              </tr>
            </tbody>
          </table>