{% extends 'base.html' %}
{% block title %}PhoneLab Testbed Web Site{% endblock %}
{% block content %}
<div class="row">
	<h1 style="line-height: 140%; color: #4183C4;">Overview</h1>
	<div class="span">
		<p style="font-size: 16px;">
		<strong><em style="line-height: 140%; font-size: 22px; color: #4183C4;">PhoneLab</em> is an open-access, large-scale, participatory testbed for smartphone research.</strong> This probably doesn't mean much to you, so let us break it down:
		<ul style="font-size: 16px;">
		<li><strong style="line-height: 140%; color: #546909">"Open-access"</strong> means researchers inside and outside of UB will conduct studies using PhoneLab. For example, when you participate in PhoneLab, you would be using applications that researchers develop and you would provide feedback on those apps.</li>
		<li><strong style="line-height: 140%; color: #546909">"Large-scale"</strong> means we will have many phones involved in PhoneLab research. Our goal over the next few years is to provide 1000 or more smartphones to the hands of participants in PhoneLab.</li>
		<li><strong style="line-height: 140%; color: #546909">"Participatory"</strong>  means we need participants like you to join PhoneLab. Our phones are to be used by real people in real life. Our research depends on your participation. You will become a part of our testbed, a platform that researchers can use to implement their experiments.
</li>
		</ul>
		</p>
	
		<br><p style="line-height: 140%; font-size: 16px;"><strong>When you join PhoneLab</strong>, we will provide you with a smartphone (Google Nexus S) and an unlimited plan from Sprint free of charge. After the first year, we will provide the same plan at a discounted rate of $43/month. In return, we expect that you participate in research studies, regularly using your phone as you normally would. </p>

		<p style="line-height: 140%; font-size: 16px;"><strong>So what does all this mean?</strong>  Read on and find out!</p>
		<p style="line-height: 140%; font-size: 16px;">
		<a href="#1">Why you should join PhoneLab</a>
		<br>
		<a href="#2">How to join PhoneLab</a>
		<br>
		<a href="#3">Your Unlimited Plan from Sprint</a>
		<br>
		<a href="#4">Duration of Participation</a>
		<br>
		<a href="#5">Research Participation</a>
		<br>
		<a href="#6">Data Collection</a>
		<br>
		<a href="#7">Broken/Lost/Stolen Phones</a>
		<br>
		</p>
		<a name="1"></a>
		</div>
	</div>
	<div class="row">
		<hr>
		<h2 style="color: #4183C4;">Why You Should Join PhoneLab</h2>
		<p style="font-size: 16px;">Here’s a few reasons: </p>
	
	</div>
		<div class="row" style="font-size: 16px;">
			<div class='span8'>
				<ul>
				<li style="line-height: 140%;"><strong><em style="color: #546909">You will play a critical role for innovating the next generation of smartphones.</em></strong> We will have many researchers using PhoneLab to improve the way we use smartphones. Through PhoneLab, researches will be testing the user experience, WiFi, 3G, and 4G performance, and even the performance of the operating system. If you join PhoneLab, you will participate in evaluating new technologies, directly contributing to the next generation of smartphones.</li>
				<li style="line-height: 140%;"><strong><em style="color: #546909">Participating in PhoneLab will be fun. </em></strong> PhoneLab is not just about participating in research. We will have fun community activities where you can enjoy free food, meet other PhoneLab participants, and learn about the projects that are being implemented over PhoneLab.</li>
				<li style="line-height: 140%;"><strong><em style="color: #546909">You are PhoneLab. </em></strong>Since this year will be the first year of operation, we will actively seek your feedback on our project, adding new features and fine-tuning our software. Your feedback and your participation will show us the future of PhoneLab.</li>		
				</ul>
			</div>
			<div class='span4'>
				<img class="pull-left" src="{{STATIC_URL}}img/participant.jpg">
			</div>
		</div>
		<p class="pull-right"><a href="#">Back to top</a></p>
		<a name="2"></a>
		
		<div class="row">
			<hr>
		</div>
		<div class='row' style='font-size: 16px ;'>
			<div class="span4">
				<br><br><img class="pull-left" src="{{STATIC_URL}}img/200phones.jpg" >
			</div>
			<div class='span8'>
			
			<h2 style="color: #4183C4;">How to Join PhoneLab</h2>
				
					<p style='font-size: 16px ; line-height: 140%'><strong><em style="color: #546909;">Reserve your phone!</em></strong> Reserve your phone <a href="http://www.phone-lab.org/join/" target="new">here</a></p>
					<p style='font-size: 16px ; line-height: 140%'><strong><em style="color: #546909;">The Selection Process: </em></strong>If you are selected to participate in PhoneLab, you will be notified by 8/17/12. There are many things being considered during selection.</p>
					<ul>
					<li style="line-height: 140%;">Firstly, the size of our testbed depends on your retention. We are looking for those who are in it for the long run, who will be participating for three or more years. The longer you stay in, the larger our testbed will get!</li>

					<li style="line-height: 140%;">Secondly, we only have 200 phones to give out in the first year, so we can only accommodate for so many. Our ideal choices would be freshman and sophomores in their undergraduate or first and second year PhD students because they are likely to be here the longest.</li>
				</ul>
				<p style='font-size: 16px ; line-height: 140%'><strong><em style="color: #546909;">Pick Up Your Phone! </em></strong> <a href="http://en.wikipedia.org/wiki/Nexus_S" target="new">Google Nexus S</a>. If you are selected, we will communicate with you about how to pick up your phone through email. You will have to bring your student ID card and be ready to take a photo.
			</div>
		</div>
		<p class="pull-right"><a href="#">Back to top</a></p>
		<a name="3"></a>
		<div class='row'>
		<hr>
	</div>
		<div class="row" style="font-size: 16px;">
			<div class="span8">
				
				<h2 style="color: #4183C4;">Your Unlimited Plan from Sprint</h2>
					<p style='font-size: 16px ; line-height: 140%'><strong><em style="color: #546909;">Your first year is on us!</em></strong> We will pay for your service plan from August 2012 through July 2013. Our plan includes: <strong>Unlimited Texting, Unlimited Data, Unlimited Mobile to Mobile calling</strong>, and <strong>300 minutes</strong> to landlines. We do not cover international roaming charges.</p>
					
					<p style="line-height: 140%; font-size: 16px; "><strong><em style="color: #546909;">After the first year</em></strong> you will have to take over the monthly bill. However, it is a discounted plan at roughly $43/month. For an unlimited plan, this is a great deal.</p>
				</ol>
			</div>
			<div class="span4">
				<img src="{{STATIC_URL}}img/cse_PL_Sprint_logo.jpg" width='70%'>
			</div>
		</div>
		<p class="pull-right"><a href="#">Back to top</a></p>
		<a name="4"></a>

		
		<div class="row" style="font-size: 16px;">
			<hr>
			<h2 style="color: #4183C4;">Duration Of Participation</h2>
			<p style="font-size: 16px; line-height: 140%;">We believe that participating in PhoneLab will be fun and we are providing a great and affordable service plan that cannot be matched. So, we would like you to stay in PhoneLab for as long as possible. However, if for some reason you decide to leave us, you can do so after the first year (August 2013). If you leave us, you will have to return your phone.</p>
		</div>
		<p class="pull-right"><a href="#">Back to top</a></p>
		<a name="5"></a>
		<div class='row'>
			<hr>
		</div>
		<div class="row" style="font-size: 16px;">
			
			<div class='span4'>
				<br><img src="{{STATIC_URL}}img/research_participation.png">
			</div>
			<div class='span8'>
			<h2 style="color: #4183C4;">Research Participation</h2>
			<p style="font-size: 16px; line-height: 140%;">The academic year 2012-2013 will be PhoneLab’s first year of operation. This means that if you join PhoneLab this year, you will be helping us define and refine our project. Similar to the way Google unveils many of their new projects using the “invitation only“ method, we will be keeping this year's testbed smaller to work out all the kinks and refine our project. Because of this, we expect different kinds of participation from the Fall to the Spring Semester. It is also important to note that, as we discuss more below in the Data Collection section, every human subject experiment you participate will require approval from you and the university through IRB (Institutional Review Board).</p>
		</div>
		</div>
		<br>
		<div class="row" style="font-size: 16px;">
			<h3 style="color: #4183C4;">Fall, 2012</h3>
			<p style="font-size: 16px; line-height: 140%;">In the Fall 2012 semester, the PhoneLab team will mostly focus on refining our website and our software running on the phones. This means that:
				<ul>
					<li style="line-height: 140%;"><strong><em style="color: #546909;">You will need to use your phone as your primary phone.</em></strong> This is the most basic level of participation we expect from you because our goal of realism depends on this model of usage.</li>
					<li style="line-height: 140%;"><strong><em style="color: #546909;">Your participation will be largely transparent.</em></strong> Most of the time in the Fall 2012 semester, you will just need to use your phone.</li>
					<li style="line-height: 140%;"><strong><em style="color: #546909;">A few times a month, we will communicate with you through email for important updates related to our operation.</em></strong> Some of these updates might require you to respond and react accordingly, but we will keep this to minimum.</li>
					<li style="line-height: 140%;"><strong><em style="color: #546909;">We also ask that you use our PhoneLab app and our website</em></strong> to check up on new features and provide feedback on your experience.</li>
					<li style="line-height: 140%;"><strong><em style="color: #546909;">We’ll be pushing out software updates regularly to your phone. </em></strong> This is an automatic process, but will need your confirmation by asking you to touch a button that we display on your phone. If you confirm, then the phone will reboot itself automatically and update the software. The whole process will take around a minute of your time.</li>
					<li style="line-height: 140%;"><strong><em style="color: #546909;">For rare occasions when your phone behaves erroneously,</em></strong> we will provide instructions on how to restart or reset your phone. In the worst case, you might have to come to our lab so we can fix it. However, we are going to internally test our updates thoroughly, and we do not anticipate such problems to occur.</li>
				</ul>
			</p>
		</div>
		<br>
		<div class="row">
			<h3 style="color: #4183C4;">Spring, 2013</h3>
			<p style="font-size: 16px; line-height: 140%;">In Spring 2013, the PhoneLab team will start conducting research experiments with you and your phone. We will continue updating our software and push out new updates to your phone, but the frequency of our updates will be reduced significantly. There are two types of experiments we will conduct, which differ in the level of participation.
				<ul style="font-size: 16px; line-height: 140%;">
					<li style="line-height: 140%;"><strong><em style="color: #546909;">Background experiments:</em></strong>We will conduct research experiments that do not require any attention from you. This is why we call them background experiments. One example in this category is the network performance measurement study, where we collect performance information from your phone for WiFi, 3G, and 4G networks. As you can imagine, this information gathering does not require your attention, and your participation is transparent---just using your phone normally as your primary phone.
					</li>
					<li style="line-height: 140%;"><strong><em style="color: #546909;">Interactive Experiments:</em></strong> We will also conduct research experiments that require you to actually use an application. This will involve downloading an app and using it regularly while the experiment is taking place. Your participation should model similar to this:
						<ul>
							<li style="line-height: 140%;">Downloading an app from our website and installing it,</li>
							<li style="line-height: 140%;">Following the instructions on how to participate in the experiment,</li>
							<li style="line-height: 140%;">Optionally giving feedback to the researchers via our website or the app itself.</li>
						</ul>
					</li>
				</ul>
				<p style="font-size: 16px; line-height: 140%;">
						Some interactive apps might just ask you to participate in a survey or visit a website; other apps might ask you to perform some specific tasks. A good example of this kind is the <a href="http://www.terirueb.net/core_sample/" target="new">Core Sample</a> project by <a href="http://www.terirueb.net/" target="new">Teri Rueb</a> at UB Media Study, where a participant uses the app for 15 - 20 minutes while visiting certain locations. Since these interactive experiments require your time and attention, we will limit this type of participation to a few hours a month.
					</p>
			</p>
		</div>
		<br>
		<div class="row">
			<h3 style="color: #4183C4;">Later Years</h3>
			<p style="font-size: 16px; line-height: 140%;">After our first year, we will be thoroughly reviewing our progress. We will point out our strong and weak points and address them. I will review our participation policies and update them as necessary.
			</p>
		</div>
		<p class="pull-right"><a href="#">Back to top</a></p>
		<a name="6"></a>
		
		<div class="row">
			<hr>
		</div>
		<div class='row'>	
			<div class="span8">		
			<h2 style="color: #4183C4;">Data Collection</h2>
			<p style="font-size: 16px; line-height: 140%;">Distributing smartphones to real people as part of our research involves collecting information from each phone, which sometimes involves information considered private. Thus, it is critical for us to make sure that each participant understands what data is collected and how it is used. Here, we give an overview, then explain what information we collect and why in more detail.</p>
		
		
		
			<h3 style="color: #4183C4;">Data Collection Overview</h3>
			
			<ol style="font-size: 16px; ">
				<li style="line-height: 140%;"><strong><em style="color: #546909;">Protecting participants is our priority. </em></strong>PhoneLab is a participatory testbed; this means that without participants like you, PhoneLab cannot exist. Because of this reason, from the inception of PhoneLab, we have been considering participant protection as one of the priorities in our decision making process.</li>
				<li style="line-height: 140%;"><strong><em style="color: #546909;">Our operation of PhoneLab will be transparent. </em></strong>This means that at any point of time, if a participant wants to know what information has been collected, how it is used, or even where it is stored, we will provide a way for the participant to review it.</li>
				<li style="line-height: 140%;"><strong><em style="color: #546909;">Research studies will require IRB (Institutional Review Board) approval. </em></strong>Getting an IRB approval is common in the fileds of medicines and psychology, where research studies involve human subjects. The approval process requires each experiment to be reviewed by a group of experts to ensure that the experiment protects the rights of the participants and is safe. This process is per-institution; for example, UB has a <a href="http://www.research.buffalo.edu/rsp/default.cfm" target="new">website</a> that explains UB's procedure. Each of the PhoneLab research experiments will require the approval of IRB as part of our protection mechanism for participants.</li>
			</ol>
			</div>
		<div class='span4'>
			<br><br><br><img src="{{STATIC_URL}}img/android_research.jpg">
		</div>
		</div>
		<div class="row">
			<h3 style="color: #4183C4;">Types of Information Collected</h3>
			<p style="font-size: 16px; line-height: 140%;">We collect information from your phone for two purposes, and the types of information we collect depends on each purpose.</p>
			<ol style="font-size: 16px;">
				<li style="line-height: 140%;"><strong><em style="color: #546909;">PhoneLab Operations: </em></strong>The first purpose of collecting your phone information is to operate PhoneLab. For this, we collect the following information:
					<ul style="font-size: 16px;">
						<li style="line-height: 140%;">Phone status: We will periodically check if the phone is operating properly since knowing the health of each phone is obviously crucial for our operation.</li>
						<li style="line-height: 140%;">Phone location: We will periodically record where the phone is based on its GPS and WiFi information. We will use this information strictly for our operational reasons, e.g., to locate a phone when it is lost or stolen. We will not release this information to anybody outside of the PhoneLab team.</li>
						<li style="line-height: 140%;">Phone battery level: As mentioned above, each phone runs our software. Thus, it is important to minimize any potentially disruption that our software might cause for your normal phone usage. For this purpose, we will monitor the battery level of your phone to avoid performing any task that can potential drain much battery.</li>
						<li style="line-height: 140%;">Application logs: Each smartphone app usually generates information (called logs) for trouble shooting. As part of our effort to ensure that each phone operates properly, we will collect these logs and use them for trouble shooting.</li>
					</ul>
				</li>
				<li style="line-height: 140%;"><strong><em style="color: #546909;">Research Studies: </em></strong>The second purpose of collecting your phone information is to conduct research. Since PhoneLab is an open-access testbed that researchers inside and outside of UB can conduct their research with, we cannot foresee all information that future research will need to collect. Due to this reason, we will communicate with you regarding what information each experiment will collect and ask your permission per experiment. Before you agree to participate in an experiment, you will have an opportunity to review it and decline your participation if you are not comfortable with the information collected by the experiment.</li>
			</ol>
		</div>
		<p class="pull-right"><a href="#">Back to top</a></p>
		<a name="7"></a>
		
		<div class="row"><hr>
			<!-- <div class="span4">
				<img src="{{STATIC_URL}}img/broken_phone.jpg" width="90%">
			</div>
			<div class="span8"> -->
			<h2 style="color: #4183C4;">Broken/Lost/Stolen Phones</h2>
			<p style="font-size: 16px; line-height: 140%;">
				If you join PhoneLab, the phone we hand out to you is essentially yours. This means that it is your responsibility to manage and maintain your phone just as you would with your normal phone. Our service provider, Sprint, has a policy to provide a replacement for a $100 fee. If, for some reason, your phone gets broken, lost, or stolen, you will be responsible for this fee to get a replacement.
			</p>
		</div>
		</div>
{% endblock %}