{% extends 'base.html' %}
{% block title %}PhoneLab Testbed Web Site{% endblock %}
{% block content %}
<div class="row">
	<div class="span4">
		<img style="display: block; margin-left: auto; margin-right: auto;" src="{{STATIC_URL}}img/phonelab_logo_black.png">
	</div>
	<div class="span8">
		<p style="font-size: 16px;">
		<strong><em style="line-height: 140%; font-size: 22px; color: #4183C4;">PhoneLab</em> is an open-access, large-scale, participatory testbed for smartphone research.</strong> This probably does not ring a bell to many of you, so let us break it down:
		<ul style="font-size: 16px;">
		<li><strong style="line-height: 140%; color: #5F7806">"Open-access":</strong> This means that researchers inside and outside of UB will conduct research studies using PhoneLab. For example, if you participate in PhoneLab, a researcher might develop an app and ask you to use the app and give feedback as part of the research.</li>
		<li><strong style="line-height: 140%; color: #5F7806">"Large-scale":</strong> This simply means that we will have many smartphones involved in PhoneLab. Our goal in the next three years is to provide 700 or more smartphones to the hands of the people participating in PhoneLab.</li>
		<li><strong style="line-height: 140%; color: #5F7806">"Participatory":</strong> This means that we need participants like you. Our phones need to be used by real people in order to carry out interesting smartphone research.</li>
		<li><strong style="line-height: 140%; color: #5F7806">"Testbed":</strong> A testbed is a platform or infrastructure that researchers can use to perform their research activities. PhoneLab as a whole is a research platform that consists of smartphones, participants, and a website. </li>
		</ul>
		</p>
	</div>
</div>
<div class="row" style="font-size: 16px;">
	
		<br><p style="line-height: 140%; font-size: 16px;"><strong>When you join PhoneLab</strong>, we will provide you a smartphone and a voice/text/data plan for a year, free of charge. After the first year, we will provide a discounted voice/text/data plan, which is roughly $43/month. In return, we expect you to participate in research studies by regularly spending some of your time using your smartphone. So what does this mean exactly? The rest of this page explains this in detail. </p>
		<p style="line-height: 140%; font-size: 16px;">
		<a href="#1">Why you should join PhoneLab</a>
		<br>
		<a href="#2">How to join PhoneLab</a>
		<br>
		<a href="#3">The PhoneLab Smartphone Service Plan</a>
		<br>
		<a href="#4">Duration of Participation</a>
		<br>
		<a href="#5">Research Participation</a>
		<br>
		<a href="#6">Data Collection</a>
		<br>
		<a href="#7">Broken/Lost/Stolen Phones</a>
		<br>
		</p>
		<a name="1"></a>
		<hr>
		
		<h2 style="color: #4183C4;">Why You Should Join PhoneLab</h2>
		<p style="font-size: 16px;">So why should you join PhoneLab? Well, there are a few reasons:</p>
	</div>
		<div class="row" style="font-size: 16px;">
			<div class='span8'>
				<ul>
				<li style="line-height: 140%;"><strong><em style="color: #5F7806">You will play a critical role in defining the next generation of smartphone technologies</em></strong> if you join PhoneLab. Many researchers will use PhoneLab to improve smartphone user interface, WiFi and 3G/4G performance, operating system performance, and many other aspects of smartphones. If you join PhoneLab, you will participate in evaluating new technologies and directly contribute to defining the next generation smartphones.</li>
				<li style="line-height: 140%;"><strong><em style="color: #5F7806">Participating in PhoneLab will be fun. </em></strong> PhoneLab is not just about participating in research. We will have fun community activities where you can enjoy free food, meet other PhoneLab participants, etc. There might be an opportunity to learn surprising facts about yourself by participating in various research studies.</li>
				<li style="line-height: 140%;"><strong><em style="color: #5F7806">You will define PhoneLab. </em></strong>Since this year is our first year of operation, we will actively seek your feedback when we add new features and fine-tune our software. Your feedback will directly shape PhoneLab.</li>		
				</ul>
			</div>
			<div class='span4'>
				<img class="pull-left" src="{{STATIC_URL}}img/participant.jpg">
			</div>
		</div>
		<p class="pull-right"><a href="#">Back to top</a></p>
	<a name="2"></a><hr>
		<div class="row" style="font-size: 16px;">
			
			<div class="span4">
				<img class="pull-left" src="{{STATIC_URL}}img/200phones.jpg" >
			</div>
			<div class='span8'>
			
			<h2 style="color: #4183C4;">How to Join PhoneLab</h2>
				<ol>
					<li style="line-height: 140%;"><strong><em style="color: #5F7806">The first step is to express your interest through our website.</em></strong> The URL is: <a href="http://www.phone-lab.org/join/" target="new">http://www.phone-lab.org/join/</a></li>
					<li style="line-height: 140%;"><strong><em style="color: #5F7806">The second step is our selection process. </em></strong> If you are selected, we will notify you by 8/17. The reason for this selection process is two-fold. One, we only have 200 smartphones to distribute; and two, we would like to hand out our phones first to the people who will stay in UB for a long period of time so that we can stably grow in size. Thus, our selection criteria is the following in the order of preference:
						<p><ol>
							<li style="line-height: 140%;">Incoming freshmen</li>
							<li style="line-height: 140%;">1-st or 2-nd year PhDs</li>
							<li style="line-height: 140%;">Sophomores</li>
							<li style="line-height: 140%;">Masters, Juniors, and 3rd-year PhDs
							<li style="line-height: 140%;">Seniors and
						</ol></p>

					<li style="line-height: 140%;"><strong><em style="color: #5F7806">The third step is to pick up your phone.</em></strong> Our phone is <a href="http://en.wikipedia.org/wiki/Nexus_S" target="new">Google Nexus S</a>. If you are selected, we will communicate with you about how to pick up your phone through email. You will have to bring your student ID card and be ready to take a photo.
			</div>
		</div>
		<p class="pull-right"><a href="#">Back to top</a></p>
		<a name="3"></a>
		<hr>
		<div class="row" style="font-size: 16px;">
			<div class="span8">
				
				<h2 style="color: #4183C4;">The PhoneLab Smartphone Service Plan</h2>
				<ol>
					<li style="line-height: 140%;"><strong><em style="color: #5F7806;">Your first year is on us; we will pay for August, 2012 through July, 2013.</em></strong> Our plan features:</li>
					<ul>
						<li style="line-height: 140%;">Unlimited Texting</li>
						<li style="line-height: 140%;">Unlimited data</li>
						<li style="line-height: 140%;">Unlimited voice calls to other mobile phones and 300 minutes for voice calls to landline phones (which you probably don't care anyway).</li>
						<li style="line-height: 140%;">However, please keep in mind that we do not cover international roaming charges.</li>
					</ul>
					<li style="line-height: 140%;"><strong><em style="color: #5F7806;">From your second year, you will have to pay for your monthly plan.</em></strong> However, it is a discounted plan and you only need to pay roughly <strong>$43/month.</strong> You probably cannot find a rate like this anywhere else; it is cheaper than the university discount or even the <a href="http://www.sprint.com" target="new">Sprint</a> employee discount.</li>
				</ol>
			</div>
			<div class="span4">
				<img src="{{STATIC_URL}}img/cse_PL_Sprint_logo.jpg">
			</div>
		</div>
		<p class="pull-right"><a href="#">Back to top</a></p>
		<a name="4"></a>
		<hr>
		<div class="row" style="font-size: 16px;">
			<h2 style="color: #4183C4;">Duration Of Participation</h2>
			<p style="font-size: 16px; line-height: 140%;">We believe that participating in PhoneLab will be fun and we are providing a great service plan with a rate that you cannot find anywhere else; so we would like you to stay in PhoneLab as long as possible. However, for some reason if you decide to leave, you can do so after the first year, i.e., from August, 2013. When you leave PhoneLab, you will have to return your phone back to us so that we can hand it out to a different person.</p>
		</div>
		<p class="pull-right"><a href="#">Back to top</a></p>
		<a name="5"></a>
		<hr>
		<div class="row" style="font-size: 16px;">
			<h2 style="color: #4183C4;">Research Participation</h2>
			<p style="font-size: 16px; line-height: 140%;">The academic year 2012-2013 is a special year for PhoneLab as we are going into our operation for the first time. This means that if you join PhoneLab this year, you will be an early-adopter who will help us define and refine PhoneLab. Some of you might remember the early days of Gmail and Facebook, where they were "invitation-only" as they were refining their services---PhoneLab is exactly in that early stage this year. Due to this reason, we expect different kinds of participation in Fall and Spring semesters.</p>
		</div>
		<div class="row" style="font-size: 16px;">
			<h3 style="color: #4183C4;">Fall, 2012---Software Refinement</h3>
			<p style="font-size: 16px; line-height: 140%;">In the Fall 2012 semester, the PhoneLab team will mostly focus on refining our website and the software running on each phone. This means that:
				<ul>
					<li style="line-height: 140%;"><strong><em style="color: #5F7806;">You will need to use your phone as your primary phone.</em></strong> This is the most basic level of participation we expect from you because our goal of realism depends on this model of usage.</li>
					<li style="line-height: 140%;"><strong><em style="color: #5F7806;">Your participation will be largely transparent.</em></strong> Most of the time in the Fall 2012 semester, you will just need to use your phone.</li>
					<li style="line-height: 140%;"><strong><em style="color: #5F7806;">A few times a month, we will communicate with you through email for important updates related to our operation.</em></strong> Some of these updates might require you to respond and react accordingly, but we will keep this to minimum.</li>
					<li style="line-height: 140%;"><strong><em style="color: #5F7806;">Less than a couple times a month, we will ask you to use our website and our Android app.</em></strong> We will add more features to our website and develop an Android app for participants. As we progress, we will ask you to provide us feedback on your experience.</li>
					<li style="line-height: 140%;"><strong><em style="color: #5F7806;">Less than once a week, we will push out our software updates to your phone.</em></strong> This is an automatic process, but will need your confirmation by asking you to touch a button that we display on your phone. If you confirm, then the phone will reboot itself automatically and update the software. The whole process will take around a minute of your time.</li>
					<li style="line-height: 140%;"><strong><em style="color: #5F7806;">For rare occasions when your phone behaves erroneously</em></strong>, we will provide instructions on how to restart or reset your phone. In the worst case, you might have to come to our lab so we can fix it. However, we are going to internally test our updates thoroughly, and we do not anticipate such problems to occur.</li>
				</ul>
			</p>
		</div>
		<div class="row">
			<h3 style="color: #4183C4;">Spring, 2013---Internal Research Studies</h3>
			<p style="font-size: 16px; line-height: 140%;">In Spring 2013, the PhoneLab team will start conducting research experiments with you and your phone. We will continue updating our software and push out new updates to your phone, but the frequency of our updates will be reduced significantly. There are two types of experiments we will conduct, which differ in the level of participation.
				<ul style="font-size: 16px; line-height: 140%;">
					<li style="line-height: 140%;"><strong><em style="color: #5F7806;">Background experiments:</em></strong>We will conduct research experiments that do not require any attention from you. This is why we call them background experiments. One example in this category is the network performance measurement study, where we collect performance information from your phone for WiFi, 3G, and 4G networks. As you can imagine, this information gathering does not require your attention, and your participation is transparent---just using your phone normally as your primary phone.
					</li>
					<li style="line-height: 140%;"><strong><em style="color: #5F7806;">Interactive experiments:</em></strong>We will also conduct research experiments that require some attention from you. We call them interactive experiments. This will typically involve downloading an app and using it. So in general, your participation will be:
						<ul>
							<li style="line-height: 140%;">Downloading an app from our website and installing it,</li>
							<li style="line-height: 140%;">Following the instructions on how to participate in the experiment,</li>
							<li style="line-height: 140%;">Optionally giving feedback to the researchers via our website or the app itself.</li>
						</ul>
					</li>
				</ul>
				<p style="font-size: 16px; line-height: 140%;">
						Some interactive apps might just ask you to participate in a survey or visit a website; other apps might ask you to perform some specific tasks. A good example of this kind is the <a href="http://www.terirueb.net/core_sample/" target="new">Core Sample</a> project by <a href="http://www.terirueb.net/" target="new">Teri Rueb</a> at UB Media Study, where a participant uses the app for 15 - 20 minutes while visiting certain locations. Since these interactive experiments require your time and attention, we will limit this type of participation to a few hours a month.
					</p>
			</p>
		</div>
		<div class="row">
			<h3 style="color: #4183C4;">Later Years</h3>
			<p style="font-size: 16px; line-height: 140%;">After our first year, we will review our progress and participation policies. We anticipate that our policies will be similar to the ones for Spring, 2013; however, we reserve our right to revise our policies.
			</p>
		</div>
		<p class="pull-right"><a href="#">Back to top</a></p>
		<a name="6"></a>
		<hr>
		<div class="row">
			<h2 style="color: #4183C4;">Data Collection</h2>
			<p style="font-size: 16px; line-height: 140%;">Distributing smartphones to real people as part of our research necessarily involves collecting information from each phone, which sometimes involves information considered private. Thus, it is critical for us to make sure that each participant understands what data is collected and how it is used. Here, we give an overview first, then explain what information we collect and why in more detail.</p>
		</div>
		<div class="row">
			<h3 style="color: #4183C4;">Data Collection Overview</h3>
			
			<ol style="font-size: 16px; ">
				<li style="line-height: 140%;"><strong><em style="color: #5F7806;">Protecting participants is our priority. </em></strong>PhoneLab is a participatory testbed; this means that without participants like you, PhoneLab cannot exist. Because of this reason, from the inception of PhoneLab, we have been considering participant protection as one of the priorities in our decision making process.</li>
				<li style="line-height: 140%;"><strong><em style="color: #5F7806;">Our operation of PhoneLab will be transparent. </em></strong>This means that at any point of time, if a participant wants to know what information has been collected, how it is used, or even where it is stored, we will provide a way for the participant to review it.</li>
				<li style="line-height: 140%;"><strong><em style="color: #5F7806;">Research studies will require IRB (Institutional Review Board) approval. </em></strong>Getting an IRB approval is common in the fileds of medicines and psychology, where research studies involve human subjects. The approval process requires each experiment to be reviewed by a group of experts to ensure that the experiment protects the rights of the participants and is safe. This process is per-institution; for example, UB has a website that explains UB's procedure. Each of the PhoneLab research experiments will require the approval of IRB as part of our protection mechanism for participants.</li>
			</ol>
		</div>
		<div class="row">
			<h3 style="color: #4183C4;">Types of Information Collected</h3>
			<p style="font-size: 16px; line-height: 140%;">We collect information from your phone for two purposes, and the types of information we collect depends on each purpose.</p>
			<ol style="font-size: 16px;">
				<li style="line-height: 140%;"><strong><em style="color: #5F7806;">PhoneLab Operations: </em></strong>The first purpose of collecting your phone information is to operate PhoneLab. For this, we collect the following information:
					<ol style="font-size: 16px;">
						<li style="line-height: 140%;">Phone status: We will periodically check if the phone is operating properly since knowing the health of each phone is obviously crucial for our operation.</li>
						<li style="line-height: 140%;">Phone location: We will periodically record where the phone is based on its GPS and WiFi information. We will use this information strictly for our operational reasons, e.g., to locate a phone when it is lost or stolen. We will not release this information to anybody outside of the PhoneLab team.</li>
						<li style="line-height: 140%;">Phone battery level: As mentioned above, each phone runs our software. Thus, it is important to minimize any potential disruption that our software might cause for your normal phone usage. For this purpose, we will monitor the battery level of your phone to avoid performing any task that can potential drain much battery.</li>
						<li style="line-height: 140%;">Application logs: Each smartphone app usually generates information (called logs) for trouble shooting. As part of our effort to ensure that each phone operates properly, we will collect these logs and use them for trouble shooting.</li>
					</ol>
				</li>
				<li style="line-height: 140%;"><strong><em style="color: #5F7806;">Research Studies: </em></strong>The second purpose of collecting your phone information is to conduct research. Since PhoneLab is an open-access testbed that researchers inside and outside of UB can conduct their research with, we cannot foresee all information that future research will need to collect. Due to this reason, we will communicate with you regarding what information each experiment will collect and ask your permission per experiment. Before you agree to participate in an experiment, you will have an opportunity to review it and decline your participation if you are not comfortable with the information collected by the experiment.</li>
			</ol>
		</div>
		<p class="pull-right"><a href="#">Back to top</a></p>
		<a name="7"></a>
		<hr>
		<div class="row">
			<!-- <div class="span4">
				<img src="{{STATIC_URL}}img/broken_phone.jpg" width="90%">
			</div>
			<div class="span8"> -->
			<h2 style="color: #4183C4;">Broken/Lost/Stolen Phones</h2>
			<p style="font-size: 16px; line-height: 140%;">
				If you join PhoneLab, the phone we hand out to you is essentially yours. This means that it is your responsibility to manage and maintain your phone just as you would with your normal phone. Our service provider, Sprint, has a policy to provide a replacement for a $100 fee. If, for some reason, your phone gets broken, lost, or stolen, you will be responsible for this fee to get a replacement.
			</p>
		</div>
		</div>
{% endblock %}