{% extends "base.html" %}
{% block title %}PhoneLab Participant Register Site{% endblock %}
{% block content %}
  {% if preview %}
  <div class="row">
    <div class="span12" align="center">
    <h2>Information Preview</h2>
    <table class="table table-striped table-bordered">
      <colgroup>
        <col class="span3">
        <col class="span9">
      </colgroup>
<!--      <thead>
        <tr> 
        </tr>
      </thead> -->
      <tbody>
      <tr> 
        <td><strong>Lib Number</strong></td>
        <td>{{ form.lib_number }}</td>
      </tr>
      <tr> 
        <td><strong>Name</strong></td>
        <td>{{ info.last_name }}, {{info.first_name }}</td>
      </tr>
      <tr> 
        <td><strong>UB ID</strong></td>
        <td>{{ info.ub_id }}</td>
      </tr>
      <tr> 
        <td><strong>Email Address</strong></td>
        <td>{{ info.email }}</td>
      </tr>
      <tr> 
        <td><strong>MEID</strong></td>
        <td>{{ form.meid }}</td>
      </tr>
      <tr> 
        <td><strong>Phone Number</strong></td>
        <td>{{ form.phone_number }}</td>
      </tr>
      </tbody>
    </table>
</div>
<!--<textarea class="input-xlarge" id="textarea" rows="10" cols="90" style="width:99%">-->
<div class="well pre-scrollable" style="height: 450px; overflow: auto; ">
<div style="text-align: center;"><pre><strong style="font-size: 18px;">PhoneLab Participant Agreement</strong>
Last Updated: August 21, 2012</pre></div>
<p><strong style="font-size: 16px; line-height: 180%;">1 &nbsp;Overview</strong><br>
PhoneLab is an open-access, large-scale, participatory smartphone testbed operated by the PhoneLab team (“we”) in the Computer Science and Engineering Department at the University at Buffalo, The State Uni-versity of New York. It consists of smartphones, participants that use the smartphones, and control software. It is designed to be open-access, meaning that researchers inside and outside of UB will conduct research studies using PhoneLab. It provides realism by having participants use the smartphones in real life; this will allow research experiments to be put under realistic conditions. <br>
<br>This document contains terms and conditions that each and every participant (“you”) should be aware of and agreed upon before receiving a smartphone from us.</p>

<p><strong style="font-size: 16px; line-height: 180%;">2 &nbsp;Unlimited Plan from Sprint</strong><br>
The smartphone service plan we provide to you is an unlimited plan from Sprint. Our plan includes: Un-limited Texting, Unlimited Data, Unlimited Mobile to Mobile calling, and 300 minutes to landlines. We do not cover international roaming charges. We will pay for your service plan from August 2012 through July 2013. After July 2013, you will be responsible for the monthly bill. The monthly price we negotiated with Sprint is $44.23/month.</p>

<p><strong style="font-size: 16px; line-height: 180%;">3 Duration of Participation</strong><br>
When we give you a phone, our basic expectation will be for you to participate for three or more years. This is the reason why we are providing the first year of free service as well as a discounted plan for later years. However, you have an option to leave after the first year.  If you decide to stop participating in PhoneLab, you can do so after July, 2013. At that point of time, you will need to return the smartphone back to us.</p>

<p><strong style="font-size: 16px; line-height: 180%;">4 Research Participation</strong><br>
The academic year 2012-2013 will be our first year of operation. Because of this, we expect different kinds of participation from the Fall to the Spring Semester.</p>

<p><strong style="font-size: 14px; line-height: 180%;">4.1 Fall, 2012</strong><br>
In the Fall 2012 semester, we will mostly focus on refining the website and software running on the phones. Accordingly, the participation from you should be the following:
<ul>
<li>You should use the participant’s phone as the primary phone. This is the most basic level of partici-pation because the testbed’s goal of realism depends on this model of usage.</li>
<li>Your participation will be largely transparent. Most of the time in the Fall 2012 semester, you will just need to use your phone.</li>
<li>A few times a month, we will communicate with you through email for important updates related to the operation. Some of these updates might require you torespond and react accordingly.</li>
<li>We will also ask you to use the PhoneLab app and website to evaluate new features.</li>
<li>We will be pushing out software updates regularly to your phone. This is an automatic process, but will need your confirmation by asking you to touch a button we display on your phone. If you confirm, then your phone will reboot itself automatically and update the software. The whole process will take around a minute of your time.</li>
<li>For rare occasions when a phone behaves erroneously, we will provide instructions on how to restart or reset the phone. In the worst case, you might have to come to Davis Hall so we can fix it.</li>
</ul>
</p>
<p><strong style="font-size: 14px; line-height: 180%;">4.2 Spring, 2013</strong><br>
In Spring 2013, we will start conducting research experiments with you and your phone. The team will continue updating the software and push out new updates to your phone, but the frequency of the updates will be reduced significantly. There are two types of experiments we will conduct, which differ in the level of participation.
<ul>
<li>Background experiments: We will conduct research experiments that do not require any attention from you. One example in this category is the network performance measurement study, where we collect WiFi, 3G, and 4G network performance numbers; this information gathering does not require any attention from you, and your participation is transparent—just using your phone normally as your primary phone.</li>
<li>Interactive Experiments: We will also conduct research experiments that require you to actually use an application. This will involve downloading an app and using it regularly while the experiment is taking place. Your participation should model similar to this:
<ul>
<li>Downloading an app from our website and installing it,</li>
<li>Following the instructions on how to participate in the experiment,</li>
<li>Optionally giving feedback to the researchers via our website or the app itself.</li>
</ul>
</ul>
&nbsp;&nbsp;Some interactive apps might just ask you to participate in a survey or visit a website; other apps might ask to perform some specific tasks. A good example of this kind is the Core Sample project (http://www.terirueb.net/core_sample) by Teri Rueb at UB Media Study, where a participant uses the app for 15 - 20 minutes while visiting certain locations. Since these interactive experiments require time and attention from you, we will limit this type of participation to a few hours a month.
</p>

<p><strong style="font-size: 14px; line-height: 180%;">4.3 Later Years</strong><br>
After the academic year 2012-2013, we will be thoroughly reviewing the progress. We will point out our strong and weak points and address them. We will also review the participation policies and update them as necessary.</p>
<p><strong style="font-size: 14px; line-height: 180%;">4.4 Participant Responsibilities and Expectations</strong><br>

Since the operation of PhoneLab is part of our research study, we would like to communicate with you clearly about what your responsibilities and our expectations are.
<ul>
<li>The above participation is required. If for some reason you do not participate, we will communicate with you to reach a resolution, which may result in temporarily stopping the service on your phone and getting your phone returned back to us.</li>
<li>The phone should be your primary phone. Please be aware that this is critical for our study because one of our goals is realism. If you plan to switch between multiple phones, then you are unfortunately not qualified for our research participation.</li>
<li>The phone should not be flashed with a custom “ROM.” This is also critical for our study as we need to keep the same platform for every phone. Although Android phones allow installing custom OSes called “ROMs,” it is not allowed on our phones.</li>
<li>You are expected to participate for three or more years. The reason why we offer the first year of free service as well as a discounted plan is because we would like you to participate for a long period of time. As we explain above, you have an option to leave after the first year; however, our basic expectation is for you to stay as a participant for three or more years.</li>
</ul>
</p>

<p><strong style="font-size: 16px; line-height: 180%;">5 Data Collection</strong><br>
Distributing smartphones to real people as part of our research involves collecting information from your phone, which sometimes involves information considered private. Thus, it is critical that you understand what data is collected and how it is used. </p>

<p><strong style="font-size: 14px; line-height: 180%;">5.1 Data Collection Overview</strong><br>
<ul>
<li> Protecting you is one of our priorities. PhoneLab is a participatory testbed; this means that without participants like you, PhoneLab cannot exist. Because of this reason, from the inception of PhoneLab, participant protection has been one of the priorities in our decision making process.</li>
<li> The operation of PhoneLab will be transparent. This means that at any point of time, if you want to know what information has been collected, how it is used, or even where it is stored, you will be able to review it.</li>
<li> Research studies will require IRB (Institutional Review Board) approval. Getting IRB approval is common in the fileds of medicines and psychology, where research studies involve human subjects. The approval process requires each experiment to be reviewed by a group of experts to ensure that the experiment protects the rights of the participants and is safe. This process is per-institution; for example, UB has a website (http://www.research.buffalo.edu/rsp/default.cfm) that explains UB’s procedure. Each of the PhoneLab research experiments will require the approval of IRB as part of the PhoneLab’s protection mechanism for participants.</li>
</ul>
</p>
<p><strong style="font-size: 14px; line-height: 180%;">5.2 Types of Information Collected</strong><br>
There are two types of information collected from your phone.
<ul>
<li> Information for PhoneLab Operations: The first purpose of collecting phoneinformation is to operate PhoneLab. The following information will be collected:
<ul>
<li> Phone status: We will periodically check if the phone is operating properly since knowing the health of each phone is obviously crucial for the operation of PhoneLab.</li>
<li> Phone location: We will periodically record where the phone is based on its GPS and WiFi information. This information will be used strictly for operational reasons, e.g., to locate a phone when it is lost or stolen. This will not be released to anybody outside of the PhoneLab team.</li>
<li> Phone battery level: It is important to minimize any potential disruption that PhoneLab software might cause for normal phone usage. For this purpose, we will monitor the battery level of your phone to avoid performing any task that can potentially drain much battery.</li>
<li> Application logs: Each smartphone app usually generates information (called logs) for trouble shooting. As part of the effort to ensure that your phone operates properly, we will collect these logs to use them for trouble shooting.</li>
</ul>
<li> Research Studies: The second purpose of collecting phone information is toconduct research. Since PhoneLab is an open-access testbed that researchers inside and outside of UB can conduct their re-search with, it is difficult to foresee all information that future research will need to collect. Due to this reason, we will communicate with you regarding what information each experiment will collect and ask your permission per experiment. Before you agree to participate in an experiment, you will have an opportunity to review it and decline participation if you are not comfortable with the information collected by the experiment.</li>
</ul>
</p>
<p><strong style="font-size: 16px; line-height: 180%;">6 Broken/Lost/Stolen Phones</strong><br>
It is your responsibility to manage and maintain your phone just as you would with any normal phone. Our service provider, Sprint, has a policy to provide a replacement for a $100 fee. If, for some reason, your phone gets broken, lost, or stolen, you will be responsible for this fee to get a replacement.
</p>
</div>
<!--</textarea>-->
  <form class="form" method="post" onsubmit="return checkCheckBox(this)" name="confirm_participant_register" action="/confirm_participant_register/">
    <input type="checkbox" value="0" name="agree"> <strong>I agree with the Phonelab Participant terms and conditions.</strong><br>
	  <input type="hidden" name="lib_number" value='{{form.lib_number}}' />
	  <input type="hidden" name="ub_id" value='{{info.ub_id}}' />
	  <input type="hidden" name="email" value='{{info.email}}' />
	  <input type="hidden" name="first_name" value='{{info.first_name}}' />
	  <input type="hidden" name="last_name" value='{{info.last_name}}' />
	  <input type="hidden" name="meid" value='{{form.meid}}' />
    <input type="hidden" name="phone_number" value='{{form.phone_number}}' />
	  <input type="submit" class='btn btn-info' value="Confirm" />
		<a class="btn" href="/" data-dismiss="modal">Cancel</a>
  </form>
    </div>
  </div>

  {% elif success %}
  <div class="alert alert-success">
  Thank You for registering with phonelab. <br><br>
  You will recieve an email with username and temporary password to login PhoneLab Web site soon!<br><br>
  <a href="/" class="btn btn-success">Home</a>
  </div>
  {% elif failure %}
  <div class="alert alert-error">
  You have already registered. Thank You!<br><br>
  <a href="/" class="btn btn-important">Home</a>
  </div>
  {% elif notselected %}
  <div class="alert alert-error">
  We are sorry. You have not been selected as a PhoneLab participant this time.<br><br>
  <a href="/" class="btn btn-important">Home</a>
  </div>
	{% else %}
	<!-- <div class="container"> -->
	<div class="well row" style="background-color: #DDDDDD" >
		<div class="span2">
				<br><br><br><img alt='PhoneLab Image' class='pull-right' src='{{ STATIC_URL }}img/phonelab_logo_black.png' style="margin-left:0px; width:180px"/>
		</div>	
		<div class="span6 pull-right" style="font-size: 26px; line-height:110%; ">
				<br><br><br><strong style="font-size: 30px">Join us</strong>, as we build the largest open-access participatory smartphone testbed. <br><br><strong style="font-size: 34px ;">PhoneLab. Only at UB CSE.</strong>
		</div>
	  
    <div class="span4">
    <div class="well">
		<h2>Participant Register</h2>
  	<form class="form" method="post" name="participant_register_form" action="/participant_register/">
   	<div class='fieldWrapper'>
 		  {{form.lib_number.errors}}
			Library Number: <br>{{form.lib_number}}
		</div>
		<div class='fieldWrapper'>
			{{form.meid.errors}}
			MEID: <br>{{form.meid}}
		</div>
		<div class='fieldWrapper'>
			{{form.phone_number.errors}}
			Phone Number:<br> {{form.phone_number}} 
		</div>
		<input type="submit" class='btn btn-info' value="Submit" />
		<a class="btn" href="/" data-dismiss="modal">Cancel</a>
		</form>
    </div>
    </div>
	</div>
	{% endif %}
{% endblock %}
{% block js %}
<script type="text/javascript"> 
document.getElementById("lib_number").focus()
  function convert_tab(obj,e) { 
    // use window.event for IE
    // use e for Firefox 
    var e = (typeof event != 'undefined')? window.event: e;
    // keycode 13 is enter, '\n'
    if(e.keyCode == 13) { 
      var ele = document.forms[0].elements; 
      for(var i = 0;i < ele.length; i++) { 
        //check last element and out
        //otherwise focus the next field.
        var next = (i == ele.length - 1)? 0: i + 1;
        if(obj == ele[i]) { 
          ele[next].focus();
          break
        } 
      } 
      return false; 
    } 
  }

  function checkCheckBox(f){
    if (f.agree.checked == false ) {
      alert('Please agree to the terms and conditions to continue.');
      return false;
    } else {
       return true;
    }
  }
</script> 
{% endblock %}
