	{% extends "base.html" %}
	{% block title %}PhoneLab Testbed Web Site{% endblock %}
	{% block content %}
	{% if success %}
	<div class="alert alert-success">
	Thank You for registering with phonelab. You will recieve an invite soon!<br><br>
	<a href="/" class="btn btn-success">Home</a>
	</div>
	{% else %}
	<div class="span5">
		<h1>Register</h1>
	  <form method="post" name="participant_interest_form" action="/join/">
	    {% for field in form %}
	        <div class="fieldWrapper">
	            {{ field.errors }}

	            {{ field.label_tag }} {{ field }}
	        </div>
	    {% endfor %}
	  <input type="submit" class='btn btn-primary' value="Submit" />
	  <a class="btn" href="/" data-dismiss="modal">Cancel</a>
	  </form>
	</div>
	<dic class="span7">
	</div>	
	{% endif %}
	   
	{% endblock %}