<div class="well">
  <h2>Group Profile: <a href="/accounts/group_profile/">{{group.name}}</a></h2>
<table class="table table-bordered table-striped">
	<tbody>
    {{leaders.user.username}}
		<tr>
			<td width='20%'><strong>Group Name: </strong></td>
      <td><a href="/accounts/group_profile/">{{ group.name }}</a></td>
    </tr>
    <tr>
      <td><strong>Leader Name: </strong></td>
      <td>{{ leader.user.username }}</td>
		</tr>
    <tr>
      <td><strong>Members:</strong></td>
      <td>
        <a href="/accounts/group_profile/">{{ no_of_members }}</a>
      </td>
    </tr> 
    <tr>
      <td><strong>Devices:</strong></td>
      <td>
        <a href="/devices/">{{no_of_devices}}</a>
      </td>
    </tr>
  </tbody>
</table>
{% if userprofile.user_type == 'L' %}
    <a data-toggle="modal" class="btn btn-primary" href="#request_devices">Request Devices</a>
    {% endif %}
  </div><!-- well -->
<div class="modal fade" id="request_devices">
  <form class="form-horizontal" method="post" action="/accounts/group_profile/">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&times;</a>
      <h1>Request Devices</h1>
    </div><!-- modal-header -->
    <div class="modal-body">
      <label for="req_devices"> Number of Devices required: </label>
      <input id="req_devices" type='text' name='req_devices' id='member' placeholder="Available devices: {{available_devices.count}}"/> 

    </div><!-- modal-body -->
    <div class="modal-footer">
      <input type="submit" class='btn btn-primary' value="Request" />
      <a href="." class="btn">Cancel</a>
    </div>
  </form>
  </div><!-- modal -->