{% extends "base.html" %}
{% block title %}Group Information{% endblock %}
    {% block content %}
    {% if user_type == 'M' %}
       <div class="alert alert-info">
       <a class="close" data-dismiss="alert">&times;</a>
       <h1>Hello {{ user.username }}, </h1>
       <p><strong>Please Enter your leader's username below to activate your account</strong><br><br>
        <form class="form-horizontal" action="/accounts/{{ user.id }}/join/" method='POST'>
        	<label>Leader's Username:</label>
            <input type="text" name="leadername">
            <button class="btn btn-primary" type="submit">Activate</button>
        </form>
       </div>
    {% endif %}
{% endblock %}