{% extends "base.html" %}
{% block content %}
  {% if no_such_member %}
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    Please Check the Member's username. No such user!
  </div><!-- alert-error -->
  {% elif device_requested %}
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    A request has been sent to the Admin! Thank You!
  </div><!-- alert-success -->
  {% elif already_member %}
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    We are Sorry! The user is a member of another group!
  </div><!-- alert-error -->
  {% endif %}
  <br><br>
  <div class="well">
    <h2>Group Profile: <a href="/accounts/group_profile/">{{group.name}}</a></h2>
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <td><strong>Leader Name: </strong></td>
          <td>{{ leader.user.username }}</td>
        </tr>
        <tr>
          <td><strong>Members:</strong></td>
          <td>
            <ul class="unstyled">
            {% for member in members %}
              <li>{{ member.user.username }} {% if userprofile.user_type == 'L' %} <a href="javascript:confirmsubmit('/accounts/delete_member/{{member.user}}')" id="member_delete"><img alt="Delete Member" title="Delete Member" src="{{STATIC_URL}}img/delete.ico"></a>{% endif %}</li>
            {% endfor %}
            </ul>
          </td>
        </tr> 
        <tr>
          <td><strong>Devices (<a href="/devices">{{no_of_devices}}</a>):</strong></td>
          <td>
            <ul class="unstyled">
           {% for device in devices %}
              <li><a href="/device/{{device.dev}}">{{device.dev}}</a></li>
           {% endfor %}
          </td> 
        </ul>
        </tr>
        <tr>
          <td><strong>Applications:</strong></td>
          <td>
            <ul class="unstyled">
            {% for app in apps %}
              <li><a href="/application/{{app.id}}">{{ app.name }}</a></li>
            {% endfor %}
            </ul>
          </td>
        </tr> 
      </tbody>
    </table>
    {% if userprofile.user_type == 'L' %}
    <a data-toggle="modal" class="btn btn-primary" href="#request_devices">Request Devices</a>
    {% endif %}
  </div><!-- well -->
<div class="modal fade" id="request_devices">
  <form class="form-horizontal" method="post" action="/accounts/group_profile/">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&times;</a>
      <h1>Request Devices</h1>
    </div><!-- modal-header -->
    <div class="modal-body">
      <label for="req_devices"> Number of Devices required: </label>
      <input id="req_devices" type='text' name='req_devices' id='member' placeholder="Available devices: {{available_devices.count}}"/> 

    </div><!-- modal-body -->
    <div class="modal-footer">
      <input type="submit" class='btn btn-primary' value="Request" />
      <a href="." class="btn">Cancel</a>
    </div>
  </form>
  </div><!-- modal -->

<!-- JavaScript -->
<script type="text/javascript">
function confirmsubmit(path) {
  if (confirm("You sure you want to delete the member?")) {
    document.location = path;
  }
    
  return false;
}
</script>
<script type="text/javascript">
//initialize modal
$('#add_member').modal('{
  keyboard: false
}')
</script>
{% endblock %}