{% extends "base.html" %}
{% block content %}
  {% if no_such_member %}
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    Please Check the Member's username. No such user!
  </div><!-- alert-error -->
  {% elif device_requested %}
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    A request has been sent to the Admin! Thank You!
  </div><!-- alert-success -->
  {% elif already_member %}
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    We are Sorry! The user is a member of another group!
  </div><!-- alert-error -->
  {% endif %}
  <br><br>

{% endblock %}