{% extends "base.html" %}
{% block title %}User Login{% endblock %}
  {% block content %}
    <div class="page-header">
      <h1>User Login</h1>
    </div>
    <div class="div8">
      {% if form.errors %}
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert">&times;</a>
            <!--The username or password you entered is incorrect.-->
            We are sorry, but we do not have that username and password on file 
       </div>
     {% endif %}
     {% include '_form.html' with button="Log In" option="Ture" %}
    </div>
{% endblock %}