{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% block title %}{% trans 'Password change successful' %}{% endblock %}
{% block content %}
	<div class="page-header">
    <h1>{% trans 'Password change successful' %}</h1>
	</div>

	<div class="div8">
    <div class="alert alert-success">
      <p><strong>{% trans 'Your password was changed.' %}</strong></p><br>
		  <a href="/accounts/profile/{{user.id}}" class="btn btn-primary"><i class="icon-user icon-white"></i> Profile</a>
    </div>
	</div>

{% endblock %}
