<!-- User Profile !-->
{% extends "base.html" %}
<script type="text/javascript">
$("#experiment").collapse({
  toggle: true
})
$('#groups').collapse({
  toggle: true
})
$('#edit').modal({
  keyboard: false
})
</script>

{% block content %}
        <ul class="nav nav-pills">
          <li class="active">
            <a href="#userprofile" data-toggle="pill">User Profile</a>
          </li>
          {% if userprofile.user_type == 'L' or userprofile.user_type == 'M'  %}
            <li>
              <a href="#group" data-toggle="pill">Groups</a>
            </li>
            <li>
              <a href="#experiments" data-toggle="pill">Experiments</a>
            </li>
          {% endif %}
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="userprofile">
            <div class="well">
              {% include 'users/user_tab.html' %}
            </div><!-- well -->
          </div><!-- tav-pane -->
          <div class="tab-pane" id="group" >
            {% include 'users/group_tab.html' %}
          </div><!-- tab-pane -->
          <div class="tab-pane" id="experiments" >
            {% if experiments %}
            {% include 'experiment/experiment_tab.html' %}
            {% else %}
            <div class="well">
            There are no experiments
            {% if userprofile.user_type == 'L' %} <a href="/experiment/new/" class="btn-small btn-primary">Add Experiment</a>{% endif %}
            </div>
            {% endif %}
          </div><!-- tab-pane -->
        </div><!-- tab-content -->
      </div><!-- span9 -->
    
<div class="span">
<h2>Device Profile:</h2>
<ul class="nav nav-tabs">
  {% for devprofile in devices %}
    {% if forloop.first %}
      <li class="active"><a href="#{{forloop.counter}}" data-toggle="tab">Device #{{forloop.counter}}</a></li>
    {% else %}
      <li><a href="#{{forloop.counter}}" data-toggle="tab">Device #{{forloop.counter}}</a></li>
    {% endif %}
  {% empty %}
    <strong>You do not have a device.</strong>
  {% endfor %}
</ul>

<div class="tab-content">
  {% for devprofile in devices %}
    {% if forloop.first %}
      <div class="tab-pane active" id="{{forloop.counter}}">
    {% else %}
      <div class="tab-pane" id="{{forloop.counter}}">
    {% endif %}
        <div class="well">
          <table class="table table-bordered table-striped">
            <tbody>
              <tr>
                <td width='20%'><strong>Device ID: </strong></td>
                <td><a href='/device/{{devprofile.dev}}/'>{{devprofile.dev}}</a></td>
              </tr>
              <tr>
                <td><strong>Phone No.: </strong></td>
                <td>{{devprofile.phone_no}}</td>
              </tr>
              <tr>
                <td><strong>Working: </strong></td>
                <td>{{devprofile.get_status_display}}</td>
              </tr>
              <tr>
                <td><strong>Image Version: </strong></td>
                <td>{{devprofile.image_version}}</td>
              </tr>
              <tr>
                <td><strong>Phone Purpose: </strong></td>
                <td>{{devprofile.get_purpose_display}}</td>
              </tr>
              <tr>
                <td><strong>Service Type: </strong></td>
                <td>{{devprofile.get_service_type_display}}</td>
              </tr>
            </tbody>
          </table>
        </div><!-- well -->
      </div><!-- tab-pane -->
  {% endfor %}
</div><!-- tab-content -->
</div><!-- span -->
{% endblock %}
