<!-- User Profile !-->
{% extends "base.html" %}
<script type="text/javascript">
$("#experiment").collapse({
  toggle: false
})
$('#groups').collapse({
  toggle: false
})
$('#edit').modal('{
  keyboard: false
}')
</script>

{% block title %}User Profile: {{user.username}} {% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    {% if userprofile.user_type == 'M' or userprofile.user_type == 'L' %}
      {% include 'users/user_main_profile.html' %}
    {% else %}
      {% include 'user_profile.html' %}
    {% endif %}
<h1>Device Profile:</h1>
<ul class="nav nav-tabs">
  {% for devprofile in devprofiles %}
    {% if forloop.first %}
      <li class="active"><a href="#{{forloop.counter}}" data-toggle="tab">Device #{{forloop.counter}}</a></li>
    {% else %}
      <li><a href="#{{forloop.counter}}" data-toggle="tab">Device #{{forloop.counter}}</a></li>
    {% endif %}
  {% empty %}
    <strong>You do not have a device.</strong>
  {% endfor %}
</ul>
<div class="tab-content">
  {% for devprofile in devprofiles %}
    {% if forloop.first %}
      <div class="tab-pane active" id="{{forloop.counter}}">
    {% else %}
      <div class="tab-pane" id="{{forloop.counter}}">
    {% endif %}
        <div class="well">
          <table class="table table-bordered table-striped">
            <tbody>
              <tr>
                <td width='20%'><strong>Device ID: </strong></td>
                <td><a href='/device/{{devprofile.dev}}/'>{{devprofile.dev}}</a></td>
              </tr>
              <tr>
                <td><strong>Phone No.: </strong></td>
                <td>{{devprofile.phone_no}}</td>
              </tr>
              <tr>
                <td><strong>Working: </strong></td>
                <td>{{devprofile.get_status_display}}</td>
              </tr>
              <tr>
                <td><strong>Image Version: </strong></td>
                <td>{{devprofile.image_version}}</td>
              </tr>
              <tr>
                <td><strong>Phone Purpose: </strong></td>
                <td>{{devprofile.get_purpose_display}}</td>
              </tr>
              <tr>
                <td><strong>Service Type: </strong></td>
                <td>{{devprofile.get_service_type_display}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  {% endfor %}
</div>
</div>
</div>
{% endblock %}
