<div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          {% if user.is_authenticated %}
            <li><a href=".">Profile</a></li>
            {% if userprofile.user_type == 'L' or userprofile.user_type == 'M' %}
              <li><a data-toggle="collapse" href="#experiment">Experiments</li>
              {% if experiments %}
                {% for experiment in experiments %}
                  <li id="experiment" style="height: 0px; "><a href="#">&nbsp;&nbsp;{{ experiment }}</a></li>
                {% endfor %}
              {% else %}
                {% if userprofile.user_type == 'L' %}
                  <li id="experiment" style="height: 0px; "><a href="#">&nbsp;&nbsp;add experiment</a></li>
                {% elif userprofile.user_type == 'M' %}
                  <li id="experiment" style="height: 0px; "><a>&nbsp;&nbsp;No Experiments</a></li>
                {% endif %}
              {%endif%}
                <li><a data-toggle="collapse" href="#groups">Groups</a></li>
                {% if group %}
                  <li id="groups" style="height: 0px; "><a href="#">&nbsp;&nbsp;{{ group }}</a></li>
                {% else %}
                  <li id="groups" style="height: 0px; ">No Groups</li>
                {% endif %}
            {% endif %}
                  <li><a href="/devices">Devices</a></li>
                  <li><a href="/experiments">Applications</a></li>  
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="span9">
      <h1>Profiles:</h1>
      <ul class="nav nav-pills">
        <li class="active">
          <a href="#userprofile" data-toggle="pill">User Profile</a>
        </li>
        {% if userprofile.user_type == 'L' or userprofile.user_type == 'M'  %}
        <li>
          <a href="#group" data-toggle="pill">Groups</a>
        </li>
        {% endif %}
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="userprofile">
          <div class="well">
          {% include 'user_profile.html' %}
          </div>
        </div>
        <div class="tab-pane" id="group" >
          {% include 'group_profile.html' %}
        </div>
      </div>
    </div>