<h1>User Profile: {{userprofile.user.username}} (<a data-toggle="modal" href='#edit'>Edit</a>)</h1>
      <table class="table table-bordered table-striped">
       <tbody>
        <tr>
          <td width='20%'><strong>First Name: </strong></td>
          <td>{{ userprofile.user.first_name }}</td>
        </tr>
        <tr>
          <td><strong>Last Name: </strong></td>
          <td>{{ userprofile.user.last_name }}</td>
        </tr> 
        <tr>
          <td><strong>Email: </strong></td>
          <td>{{ user.email }}</td>
        </tr>
       </tbody>
      </table>
      <div class="modal fade" id="edit">
        <form class="modal-form" method="post" action="/accounts/{{userprofile.user.id}}/update/">
        <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h1>Edit User Profile: <a href='/accounts/profile/{{userprofile.user.id}}'>{{userprofile.user.username}}</a></h1>
        </div>
        <div class="modal-body">
          <table class="table">
            <tbody>
              
              <tr>
                <td width='20%'><strong>First Name: </strong></td>
                <td><input type='text' name='fname' id='fname' value='{{userprofile.user.first_name}}' /></td>
              </tr>
              <tr>
                <td><strong>Last Name: </strong></td>
                <td><input type='text' name='lname' id='lname' value='{{userprofile.user.last_name}}' /></td>
              </tr>
              <tr>
                <td><strong>Email: </strong></td>
                <td><input type='text' name='email' id='email' value='{{userprofile.user.email}}' /></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <input type="submit" class='btn btn-primary' value="Save" />
          <a onclick="history.back()" class="btn">Cancel</a>
        </div>
        </form>
      </div>