<div class="span11 well">
<form method="post" action="/transaction/create/">
  <h3><strong>Devices</strong></h3>
  <table class="table table-bordered">
    <tbody>
      <tr>
        {% for dev in devs %}
          <td width="20%"><input type='checkbox' id='dev' name='dev' value='{{dev.dev.id}}' {{ dev.get_active_display }} /> 
          <a href="/device/{{dev.dev.id}}">{{dev.dev.id}}</a></td>
          {% if forloop.counter|divisibleby:"5" %}
            </tr><tr>
          {% endif %}
        {% empty %}
        No devices
        {% endfor %}
      </tr>
    </tbody>
  </table>

  <h3><strong>Applications</strong></h3>
  <table class="table table-bordered">
    <tbody>
      <tr>
        {% for app in apps %}
          <td width="20%"><input type='checkbox' id='app' name='app' value='{{app.id}}' {{ app.get_active_display }} /> 
          <a href="/application/{{app.id}}">{{app.name}}</a></td>
          {% if forloop.counter|divisibleby:"5" %}
            </tr><tr>
          {% endif %}
        {% empty %}
        {% endfor %}
      </tr>
    </tbody>
  </table>

  <h3><strong>Actions</strong></h3>
  <table class="table table-bordered">
    <tbody>
      <tr>
         <td width="50%"><input type='radio' id='install' name='action' value='I' /> Install</td>
         <td><input type='radio' id='uninstall' name='action' value='U' /> Uninstall</td>
      </tr>
    </tbody>
  </table>
  <input type='hidden' name='user' value='{{ user.id }}' />
  <input type="submit" class='btn btn-primary' value="Submit" />
  <a onclick="history.back()" class="btn">Cancel</a>
</form>
</div>
