<!-- Transaction !-->
{% extends "base.html" %}
{% block title %}Transaction{% endblock %}
{% block content %}

<h1>Transaction</h1>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#1" data-toggle="tab">Create Transaction</a></li>
    <li><a href="#2" data-toggle="tab">Transaction History</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="1">
      {% include 'transaction/_create_transaction.html' %}
    </div>
    <div class="tab-pane" id="2">
      {% include 'transaction/_history_list.html' %}
    </div>
  </div>
</div><!-- tabbable -->
{% endblock %}
